@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

p {
  font-family: "Roboto", Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail {
  /* width: 300px; */
  width: 100%;
}

.search-bar {
  display: block;
  /* font-size: 20px; */
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-preview-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-preview {
  /* width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px; */
}

.channel-picture {
  /* display: inline-block;
  width: 50px;
  vertical-align: top; */
  /* background-color: lightgray; */
}

.video-info {
  /* display: inline-block; */
  /* width: 200px; */
  /* background-color: rgb(243, 238, 238); */
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
