.thumbnail {
  /* width: 300px; */
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-preview-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-preview {
  /* width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px; */
}

.channel-picture {
  /* display: inline-block;
  width: 50px;
  vertical-align: top; */
  /* background-color: lightgray; */
}

.video-info {
  /* display: inline-block; */
  /* width: 200px; */
  /* background-color: rgb(243, 238, 238); */
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin-right: 26px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: black;
  color: white;
  padding: 2px 4px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
